body  {
   background-color: white;

}

.main {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: black;

}

.left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    width: 25%;
    height: 100%;
    color: black;
    background-color: white;
    position: relative;
}
.notName {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* border: 1px solid #ccc;  */
    position: absolute;
    top :17%;
    bottom: 10%;
}

.scrollableContainer {
    height: 80vh;
    overflow-y: auto; 

}


/* Define the main scrollbar */
.scrollableContainer::-webkit-scrollbar {
    width: 10px; /* Width of the main scrollbar */
}

/* Define the track (the area on which the thumb moves) */
.scrollableContainer::-webkit-scrollbar-track {
    background: #dddddd; /* Background color of the track */
}

/* Define the thumb (the draggable handle) of the main scrollbar */
.scrollableContainer::-webkit-scrollbar-thumb {
    background: #404040d9; /* Color of the main scrollbar thumb */
}

/* Define the smaller scrollbar */
.scrollableContainer::-webkit-scrollbar-thumb:hover {
    background: #787878d9; /* Color of the main scrollbar thumb on hover */
}

/* Define the smaller scrollbar */
.scrollableContainer::-webkit-scrollbar-thumb:vertical {
   width: 5px;
    height: 5px; /* Height of the smaller scrollbar */
    background: #ffffffba; /* Color of the smaller scrollbar */
    border-radius: 10%; /* Border radius of the smaller scrollbar */
}




.lists {
    background-color: white;
    width: 100%;
    justify-self: center;
    align-self: center;
    margin: 44px 0 20px 0;
    
}

.right { 
    background-color: black;
    color: black;
    height: 100%;
    width: 75vw;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(218, 229, 245, 1);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.onboardingimg {
    flex-wrap: wrap;
    background-color: rgba(218, 229, 245, 1);
    justify-self: center;
    align-self: center;
   
}


h1 {
    text-align: center;
}

.OnBtext {
    justify-self: center;
    align-self: center; 

}

.ButtonAlign{
    position: absolute;
    bottom: 20px;
    right: 50px;
}

button {
    height:100%;
    width: 140%;
    border-radius:50%;
    border-style: none;
    font-size: 55px;
    align-self: flex-end;
    background-color: blue;
    color: #fefefe;
}





/* test */

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .popupContent {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  